.certificate-container {
  background-color: #ffffff;
  max-width: 100%;
  text-align: center;
  padding: 20px 0 40px 0;
  min-height: 100vh;
  margin-top: 4rem;
}

.certificate-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.certificate-content {
  width: 85%;
  text-align: center;
  margin-bottom: 20px;
}

.certificate-container-heading {
  font-family: Aboreto, serif;
  color: #385070;
  letter-spacing: 1px;
  line-height: 3.5rem;
  font-size: 2.3rem;
  font-weight: 400;
  margin-top: 20px;
}

.certificate-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0 10px;
  margin-top: 20px;
  width: 90%;
}

.certificate-card {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #385070;
  box-shadow: 1px 1px 3px #385070;
  cursor: pointer;
  flex: 1 1 calc(50% - 2rem); /* Two cards per row */
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.certificate-card-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 15px auto 10px auto;
  border-radius: 5px;
  border: 1px solid #385070;
}

.certificate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.certificate-modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.certificate-modal-image {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 5px;
  border: 1px solid #e5e1e1;
}

@media (max-width: 1024px) {
  .certificate-card {
    flex: 1 1 calc(50% - 20px); /* still 2 per row */
  }
  .certificate-content {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .certificate-container-heading {
    margin-top: -1rem;
  }
}
@media (max-width: 768px) {
  .certificate-card {
    flex: 1 1 100%; /* one card per row */
    max-width: 100%;
  }
  .certificate-container-heading {
    font-size: 1.9rem;
    margin-top: -1rem;
  }
}

@media (max-width: 600px) {
  .certificate-content {
    width: 95%;
  }
  .certificate-container-heading {
    font-size: 1.9rem;
    margin-top: -1rem;
  }
}

@media (max-width: 480px) {
  .certificate-container-heading {
    font-size: 1.9rem;
    line-height: 3rem;
    margin-top: -0.8rem;
  }
}
