* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.certificate-main-container {
  background-color: #faf3f3;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.certificate-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certificate-content {
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

#certificate_heading {
  font-family: Aboreto, serif;
  color: #2f3834;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 350;
  margin-top: 20px;
  white-space: nowrap;
  text-align: center;
}

.certificate-para {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  line-height: 1.7;
  margin-top: 15px;
  color: #4a4a4b;
  text-align: center;
  margin-bottom: 10px;
}

.certificate-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 0 10px;
  margin-top: 20px;
  width: 90%;
}

.certificate-card {
  background-color: #ffffff;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out, transform 0.3s ease;
  border: 1px solid #c8c5c5;
  overflow: hidden;
  cursor: pointer;
  padding: 20px 8px;
  flex: 1 1 calc(33.333% - 30px);
  max-width: 300px;
  box-shadow: 0px 1px 1px 1px #e3e1e1;
}

.certificate-card:hover {
  box-shadow: 0 8px 8px #d8d8d8;
  transform: scale(1.02);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #e5e1e1;
  object-fit: cover;
}

.card-image.img2 {
  height: auto;
  object-fit: contain; /* Adjust image content to fit within the given height */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 5px;
  border: 1px solid #e5e1e1;
}

@media (max-width: 1024px) {
  .certificate-card {
    flex: 1 1 calc(50% - 30px);
  }

  .certificate-content {
    width: 70%;
  }

  #certificate_heading {
    font-size: 2.2rem;
  }

  .certificate-para {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .certificate-card {
    flex: 1 1 100%;
    max-width: 400px;
  }
  .certificate-content {
    width: 95%;
    margin-top: 25px;
  }
  #certificate_heading {
    font-size: 1.9rem;
    margin-top: 15px;
  }
  .certificate-para {
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: -2px;
  }
}

@media (max-width:450px) {
  .certificate-content{
    margin-top: -10px;
  }
  #certificate_heading{
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .certificate-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .certificate-para {
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: -7px;
  }
}

