* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.project {
  padding: 2rem;
  max-width: 1300px;
  background-color: #edecec;
  text-align: center;
  margin: 0 auto;
}


.p-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #0e315f;
}

.project .title-underline {
  width: 27px;
  height: 4px;
  border-radius: 2px;
  border: 0;
  background: linear-gradient(to right, #0f396f, #4d728f);
  margin: 0 auto;
  margin-bottom: 55px;
  margin-top: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.699);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel img {
  max-width: 100%;
  max-height: 95vh;
}

.arro {
  background: none;
  font-size: 35px;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  color: #ffffff;
  border-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.arro.left {
  left: 50px;
}

.arro.right {
  right: 50px;
}

.arro[disabled] {
  cursor: not-allowed;
  color: #333333;
  border-color: #333333;
  opacity: 0.5;
}

#modal_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
      padding: 1rem;
  }

  #modal_close {
      top: 4px;
      right: 10px;
      font-size: 25px;
  }

  .arro {
      font-size: 25px;
      padding: 4px;
  }

  .arro.left {
      left: 10px;
  }

  .arro.right {
      right: 10px;
  }
}

@media (max-width: 450px) {
  .arro {
      font-size: 15px;
      padding: 5px;
  }

  .arro.left {
      left: 3px;
  }

  .arro.right {
      right: 3px;
  }
}

.p-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
}

.card {
  width: calc(30.333% - 20px);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out, transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
}

.project-title {
  margin-top: 15px;
  color: #454444;
  font-weight: 520;
  font-size: large;
  text-align: left;
}

.project-description {
  margin-top: 15px;
  font-size: medium;
  text-align: left;
  word-spacing: 3px;
  letter-spacing: 0.8px;
  color: #212020;
}

@media (max-width: 1024px) {
  .card {
      width: calc(45% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
      width: calc(50% - 20px);
  }

  .project-title,
  .project-description {
      font-size: medium;
  }
}

@media (max-width: 550px) {
  .card {
      padding: 8px;
      width: 85%;
  }

  .project-title,
  .project-description {
      font-size: medium;
      margin-left: 10px;
      margin-top: 10px;
  }
}
