html, body {
  overflow-x: hidden;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf3f3;
  height: 100%;
  padding: 20px;
}

.inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  max-width: 1100px;
  gap: 20px;
  margin-top: 30px;
}

.contact-info-container,
.contact-form-container {
  flex: 1;
  margin: 20px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-heading {
  font-family: Aboreto, serif;
   color: #2f3834;
   letter-spacing: 1px;
   font-size: 2.3rem;
   font-weight: 350;
}

.contact-para {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  white-space: 1.8px;
  line-height: 1.4;
  margin-top: 7px;
  color: #4a4a4b;
  text-align: left;
  margin-bottom: 30px;
}

.contact-social-icons {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.social-item {
  display: flex;
  align-items: left;
  gap: 15px;
  text-decoration: none;
}

.social-icon {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ffffff;
}

.github-icon {
  background-color: #333;
}

.linkedin-icon {
  background-color: #0077b5;
}

.globe-icon {
  background: linear-gradient(45deg, #4caf50, #1e88e5);
}

.email-icon {
  background-color: #6c757d;
}

.social-label {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #4a4a4b;
  text-align: left;
}

.social-item:hover .social-icon {
  filter: brightness(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.social-item:hover .social-label {
  color: #3a3a3b;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.form-heading{
  font-family: Aboreto, serif;
  color: #2f3834;
  letter-spacing: 1px;
  font-size: 2.3rem;
  font-weight: 350;
  margin-bottom: 1rem;
}

.contact-labels{
  font-size: 1rem;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #4a4a4b;
  text-align: left;
}

.form-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-field-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  height: 150px;
  resize: vertical;
}

.submit_btn {
  padding: 10px 28px;
  background-color: #a04d66;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.submit_btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .inner-box {
    flex-direction: column;
  }
  .contact-info-container{
    margin-top: -10px;
  }
  .contact-social-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }
  .social-icon{
    font-size: 1.3rem;
    width: 35px;
    height: 35px;
  }
  .github-icon{
    margin-left: 78px;
  }
}

@media (max-width: 600px) {
  .contact-info-container{
    margin-top: 8px;
  }
  .contact-heading{
    font-size: 1.9rem;
  }
  contact-para{
    font-size: 0.9rem;
  }
  .contact-form-container{
    margin-top: 25px;
  }
  .form-heading{
    font-size: 1.9rem;
  }
  .submit_btn{
    padding: 10px 18px;
    font-size: 1rem;
  }
  .contact-para, .social-label{
    font-size: 1.1rem;
  }
  .github-icon{
    margin-left: 73px;
  }
}

@media (max-width:450px) {
  .contact-info-container{
    margin-top: -32px;
  }
}

@media (max-width: 400px) {
  .inner-box {
      padding: 0 10px;
  }
  .contact-info-container{
    margin-left: -5px;
  }
  .contact-heading{
    font-size: 1.6rem;
  }
  .contact-para, .social-label{
    font-size: 0.9rem;
  }
  .social-label{
    margin-left: -8px;
  }
  .github-icon{
    margin-left: 60px;
  }
  .contact-social-icons {
      flex-direction: row;
  }
  .contact-form-container{
    margin-left: -5px;
    margin-top: 20px;
  }
  .form-heading{
    font-size: 1.6rem;
  }
.submit_btn{
  padding: 9px 16px;
  font-size: 0.9rem;
  margin-left: 3px;
}
}

.submitting-message {
  color: #a04d66;
  font-size: 1.1rem;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-top: -3px;
  margin-bottom: 18px;
}

.error-message {
  color: #e36c6c;
  font-size: 1.1rem;
  margin-top: -3px;
  margin-bottom: 15px;
  line-height: 26px;
  letter-spacing: 0.2px;
}
