* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.8rem;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-img {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
    margin-right: 20px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    margin: 0 10px;
    padding: 8px;
}

.nav-items a, .nav-items a:link, .nav-items a:visited {
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-items a:hover {
    color: #0062b9;;
}

.nav-items.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-items.open li {
    margin: 10px 0;
    text-align: center;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-items li a svg {
    vertical-align: middle; /* Align icon vertically */
}

@media (max-width: 768px) {
    .nav-container {
        justify-content: space-between;
    }

    .logo-img {
        order: -1;
    }

    .hamburger {
        display: flex;
    }

    .nav-items {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }

    .nav-items.open {
        display: flex;
    }

    .nav-items.open li {
        margin: 10px 0;
        text-align: center;
    }
}
