.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 20px;
    text-align: left;
}

.footer-left {
    flex: 1;
    min-width: 230px;
    margin: 10px 0;
}

.footer-right {
    flex: 1;
    max-width: 150px;
    margin: 10px 0;
}

.footer-left {
    margin-right: 20rem;
}

#footer-name {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-para {
    font-size: 16px;
    margin: 0;
}

#footer-socials {
    font-size: 22px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
}

.social-icons a {
    color: #fff;
    font-size: 23px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1da1f2;
}

.footer-bottom {
    border-top: 1px solid #333;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

.footer-bottom a {
    color: #1da1f2;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: left;
    }

    #footer-name {
     font-size: 19px;
    }

    #footer-socials {
        font-size: 19px;
       }

    .footer-left, .footer-right {
        margin: 20px 0;
    }

    .footer-right {
        margin-bottom: -10px;
    }
    .social-icons {
        justify-content: flex-start;
        margin-bottom: -12px;
    }

    .social-icons a  {
        font-size: 20px;
    }
}
