* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.footer {
    padding: 40px 30px;
    background-color: #F3E8E5;
    color: #5a3a3a;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-name {
    font-size: 1.1em;
    color: #2f3834;
    text-decoration: none;
    font-family: "Aboreto", serif;
    position: relative;
    padding-bottom: 2px;
}

.footer-name:hover {
    color: #000;
}

.footer-name:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.footer-left span {
    font-size: 1.1em;
    color: #2f3834;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.page-link {
    color: #a04d66;
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 2px;
}

.page-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        margin-top: -20px;
    }
    .footer-right{
        flex-direction: column;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 20px;
    }
    .footer-left{
        margin-top: 25px;
    }
    .footer-name, .page-link {
        font-size: 1em;
    }
}

