.hover-animate {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hover-animate:hover {
  transform: scale(1.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  font-family: "Arial", sans-serif;
}
