* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 590px;
    background: linear-gradient(to right, #0f396f, #537895);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 27, 27, 0.5);
    z-index: 1;
}

.banner-text {
    position: relative;
    font-size: 1.7rem;
    padding: 1rem;
    line-height: 1.6;
    z-index: 2;
    text-align: center;
    margin-top: 100px;
}

.heading {
    word-spacing: 9px;
    letter-spacing: 1px;
    color: #ffffff;
}

.banner-para {
   font-size: 1.7rem;
   word-spacing: 5px;
   color: #ffffff;
}

.button-container {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

#banner_button {
    padding: 15px 55px;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    color: #0e315f;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#banner_button:hover {
    transform: translateY(-3px);
}

.banner-icons a{
    font-size: 25px;
}

@media screen and (max-width: 650px) {
    .banner-container{
      height: 500px;
    }

    .banner-text {
        padding: 20px;
    }

    .heading{
        font-size: 1.9rem;
        word-spacing: 0.8px;
    }

    .banner-para {
        font-size: 1.3rem;
        margin-top: 15px;
        word-spacing: 0.8px;
    }

    #banner_button {
        padding: 15px 30px;
    }
}

.banner-icons{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.icons {
    color: #ffffff;
    font-size: 28px;
    margin-left: 3px;
    margin-top: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icons:hover {
    transform: translateY(-3px);
}

@media (max-width: 450px){
.banner-icons a{
    font-size: 20px;
}
}