* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.featured-projects-section {
    background-color: #f8f4f4;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
}

.projects-intro-section {
    text-align: center;
    margin-bottom: 30px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.line {
    width: 320px;
    height: 0.8px;
    background-color: #acacab;
}

.projects-intro-text {
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    color: #2f3834;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 30px;
}

.project-link {
    text-decoration: none;
    color: inherit;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    min-height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    color: #777;
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .line {
        width: 180px;
    }

    .projects-intro-text {
        font-size: 0.8rem;
    }
}
@media (max-width: 768px) {
    .line-container {
        gap: 15px;
    }
    .line {
        width: 120px;
    }

    .projects-intro-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 580px) {
    .projects-intro-section {
        margin-top: -2px;
    }
    .line-container {
        gap: 15px;
    }

    .line {
        width: 80px;
    }

    .projects-intro-text {
        font-size: 0.7rem;
        letter-spacing: 1.4px;
    }

    .projects-container {
        padding: 22px;
    }
}

@media (max-width: 400px) {
    .projects-intro-section {
        margin-bottom: 15px;
    }
    .line {
        width: 50px;
    }
    .projects-intro-text {
        font-size: 0.7rem;
    }
    .projects-container {
        margin-bottom: -30px;
    }
}


